* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #fff;
} 

/* Link Styles */
  
a {
    text-decoration: none;
    color: #222;
}

/* Section Styles */

.main-nav {
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    width: 100%;
    min-height: 30px;
    padding: 30px;
    position: left;
    text-align: center;
}  

.logo {
    font-size: 18px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
    margin: auto;
    padding: 0 30px;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    float: right;
}

.tag {
    color: black;
    padding: 10px;
    display: table;
    margin: 50px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: tomato;
}

header {
    background: url('img/creative.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 900px;
    margin-bottom: 50px;
}

.tag {
    color: black;
    padding: 3px;
    border: 5px;
    display: table;
    margin: 10px auto;
}

.location {
    font-size: 20px;
    color: #222;
    background: none;
}

.name {
    color: #222;
    margin-top: 300px;
}

.arrow {
    width: 70px;
    margin-top: 400px;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

/* For MAIN */

.card {
    margin: 100px;
    border: 20px 40px 40px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
}
.card:hover {
  border-color: tomato;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: tomato;
    color: black;
    padding: 5px 10px;
    margin: 2px;
}
  
.skills li:nth-child(odd) {
    background: #c7c7c7;
}

h2 {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}
  
p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }
  a.twitter {
    background-image: url(img/twitter.svg);
  }
  a.linkedin {
    background-image: url(img/linkedin.svg);
  }
  a.github {
    background-image: url(img/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }

/* Media Queries */
@media screen and (min-width: 769px) {
  
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
        margin: 0 auto;
    }
  
    header {
      min-height: 470px;
    }

    h2 {
        text-align: center;
        width: 100%;
    }
      
    p {
        text-align: justify;
        text-justify: inter-word;
    }
  
    .nav {
        text-align: center;
    }
  
    .logo {
        text-align: center;
    }


    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }